.cat {
  width: 300px;

  .top {
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;

    .ear {
      position: relative;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 35px solid black;

      &:after {
        content: '';
        top: 15px;
        left: -10px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #ff4800;
      }
    }
  }

  .bottom {
    height: 115px;
    display: flex;
    justify-content: center;
    position: relative;

    .whiskers {
      &,
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: black;
        top: 50%;
        left: 0;
        border-radius: 10px;
      }

      &:after,
      &:before {
        top: 0;
      }

      &:after {
        transform: rotate(8deg);
      }

      &:before {
        transform: rotate(-8deg);
      }
    }

    .face {
      width: 200px;
      height: 100%;
      background-color: black;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .eye {
        position: relative;
        background-color: white;
        width: 50px;
        height: 45px;
        border-radius: 18px;
        transition: height 250ms;

        &.squint {
          height: 4px;
        }

        > div {
          --iris-width: 10px;
          --iris-height: 30px;

          transition: all 150ms;

          position: absolute;
          width: var(--iris-width);
          height: var(--iris-height);
          background-color: black;
          border-radius: 20px;
          bottom: calc(50% - var(--iris-height) / 2);
          left: calc(50% - var(--iris-width) / 2);
        }
      }
    }
  }
}
